.pagination {
  display: flex;
  color: #070723;
  font-size: 16px;
}
.pageItem {
  height: 38px;
  padding: 6px 12px;
  border: 1px solid #DEE2E6;
}

.active {
  background-color: #197beb;
  color: #F1F1F1;
}